body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header{
    background:linear-gradient(90deg, #0077b6, #00b4d8);
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    flex-wrap: wrap;
}

.box{
    background-color: #00b4d8;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 6px;
    transition: transform 0.3 ease background-color 0.3 ease;
}

.box:hover{
    transform: scale(1.1);
    background-color: #0096c7;
    
}

footer{
    background-color: #03045e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}